@charset "UTF-8";

* {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

:root{
    --cor1: #020F59;
    --cor1-2: #020f599a;
    --cor2: #3476cc;
    --cor2-2: #3476cc9a;
    --cor3: #4177A6;
    --cor4: #72b0d6;
    --cor5: #F2EDD5;
    --cor6: #ee7b27;
    --cor7: #f4a120;
    --cor8: #010104;
    --cor8-1: #010104bd;
    --cor9: #3432c8;
    --cor9-1: #3432c8bd;
}

strong{
    font-weight: bold;
}
body{
    background-color: var(--cor8);
    background-image: url('imagens/solar-ceu-escuro-3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

header{
    padding-top: 25px;
    padding-left: 50px;
}
header  > img{
    transition-duration: 1s;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
div > img {
    margin: 0px 16px 0px 8px;
    width: 200px;
    height: 200px;
}
section#descri{
    margin-left: 56px;
    margin-bottom: 40px;
    display: grid;
}
section#descri > h1{
    width: 600px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 13px 8px 19px 8px;
    line-height: 44px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.75);
}
section#descri > p{
    width: 645px;
    border-radius: 25px;
    padding: 24px 16px;
    margin: 35px 8px 60px 8px;
    font-size: 1.68rem;
    background-image: linear-gradient(to right, #0000248c, #ff81008c);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#descri > a{
    padding: 12px 31.5px;
    margin-left: 14px;
    width: 200px;
    background-color: var(--cor6);
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.570);
}
section#descri > a:hover{
    transition-duration: 0.5s;
    transform: scale(1.06);
    background-color: var(--cor7);
}

/*Segunda Section */

section#bene{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    background-image: url('imagens/solar-chao.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    box-shadow: 1px -4px 10px rgba(0, 0, 0, 0.400);
    padding-top: 40px;
    padding-bottom: 50px;
}
section#bene > h1{
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    line-height: 2.5rem;
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
}
section#bene > div#img-op1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-content: space-around;
    flex-wrap: nowrap;
    justify-content: center
}
section#bene span#item1{
    width: 575px;
}
section#bene > div#img-op2{
    display: grid;
    gap: 60px;
    justify-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
section#bene > div#img-op > span#item2{
    grid-template-areas: none;
}
section#bene > div#img-op > span#item2, span#item3{
    grid-row: 2;
}
section#bene > div#break{
    height: 40px;
}
span{
    background-color: var(--cor8-1);
    padding: 20px 15px 0px 15px;
    border-radius: 40px;
    
}
span.flex-items{
    display: grid;
}
span > img{
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    
}
span.flex-items > h2{
    text-align: center;
    font-weight: 400;
    line-height: 2.5rem;
    font-size: 27px;
    margin: 0px 0px 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* Articles - 1 */

section#func > article#segun{
    padding: 96px 32px 70px 32px;
    font-family: Arial, Helvetica, sans-serif;
}
section#func > article#prim > h1{
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    
}
section#func > article#prim > div.paragrafos{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
section#func > article#prim > div.paragrafos > div.parag > img{
    width: 112px;
    height: 112px;
    padding-left: 20px;
    margin: 0px;
}
section#func > article#prim > div.paragrafos > div.parag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to right, #0000248c, #ff81008c);
    border-radius: 30px;
    padding-right: 20px;
    margin: auto;
    width: 950px;
    height: 120px;
}
section#func > article#prim > div.paragrafos > div.parag > p{
    font-size: 30px;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 24px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
.verde{
    color: var(--cor7);
    
}

/* Articles - 2 */

section#func > div#botao-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#func > div#botao-2 > a{
    padding: 12px 31.5px;
    width: 200px;
    background-color: var(--cor6);
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.570);
}
section#func div#botao-2 > a:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
    background-color: var(--cor7);
}
section#func > article#prim{
    padding: 96px 32px 60px 32px;
    font-family: Arial, Helvetica, sans-serif;
    
}
section#func > article#segun > h1{
    text-align: center;
    margin: auto;
    padding-bottom: 55px;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
section#func > article#segun > div.paragrafos > div.parag > h2{
    font-size: 110px;
    text-align: center;
    color: var(--cor7);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.603);
}
section#func > article#segun > div.paragrafos{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
section#func > article#segun > div.paragrafos > div.parag > img{
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
}
section#func > article#segun > div.paragrafos > div.parag > img#atendente{
    width: 130px;
    height: 130px;
}
section#func > article#segun > div.paragrafos > div.parag{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-image: linear-gradient(to right, #0000248c, #ff81008c);
    border-radius: 30px;
    padding: 10px 20px 20px 35px;
    margin: auto;
    width: 930px;
    height: 120px;
}
section#func > article#segun > div.paragrafos > div#model {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-image: linear-gradient(to right, #0000248c, #ff81008c);
    border-radius: 30px 30px 0px 0px;
    padding: 20px 20px 60px 35px;
    margin: auto;
    width: 930px;
    height: 120px;
}
section#func > article#segun > div.paragrafos > div.parag > p{
    font-size: 1.5rem;
    font-weight: 300;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#func > article#segun > div.paragrafos > div.parag > div.parag-2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 24px;
    margin-top: 15px;
}
.verd{
    color: var(--cor7);
    font-weight: bold;
}
section#func > article#segun > div.paragrafos > div.parag > div.parag-2 > div#modelo{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}
section#func > article#segun > div#modelos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 985px;
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    margin: auto;
    background-image: linear-gradient(to right, #0000248c, #ff81008c);
}
section#func > article#segun > div#modelos > img{
    width: 200px;
    height: 200px;
}

/* Terceira Section*/

section#numero-projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('imagens/solar-chao.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 64px 32px;
    gap: 50px;
    margin: auto;
    box-shadow: 1px -4px 10px rgba(0, 0, 0, 0.400);
}
section#numero-projetos > div#numeros{
    display: flex;
    gap: 50px;
}
section#numero-projetos > div#numeros > div.num{
    display: flex;
    flex-direction: column;
    background-color: var(--cor8-1);
    padding: 60px 16px;
    gap: 20px;
    width: 240px;
    height: 350px;
    border-radius: 50px;
    text-align: center;
}
section#numero-projetos > div#numeros > div.num > h1{
    font-size: 84px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#numero-projetos > div#numeros > div.num > h2{
    font-size: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    
}
section#numero-projetos > div#numeros > div.num > p{
    font-size: 26px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#numero-projetos > div#numeros > div#button{
    display: flex;
}
.amare{
    color: var(--cor7);
    font-size: 30px;
}

/* Quarta Section*/
section#curiosidade{
    display: flex;
    flex-direction: row;
    box-shadow: 1px -4px 10px rgba(0, 0, 0, 0.600);
    background-position: bottom center;
    transform: translate(40, 40);
}
section#curiosidade > div#curiosi{
    display: flex;
    align-items: center;
    padding: 128px 0px;
    
}
section#curiosidade > div#curiosi > div#img-curio{
    width: 652px;
    height: 340px; 
}
section#curiosidade > div#curiosi > div#curio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #0000248c, #ff81008c);
    padding: 64px 55px 64px 55px;
    gap: 30px;
}
section#curiosidade > div#curiosi > div#curio > p{
    width: 444px;
    height: 170px;
    font-size: 25px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#curiosidade > div#curiosi > div#curio > h1{
    font-size: 50px;
    text-align: center;
    color: var(--cor7);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

/* Ultima Section - Contatos*/

section#contatos{
    background-color: var(--cor6);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.658);
    height: 250px;
    padding: 25px 32px 45px 32px;
}
section#contatos > div#contas{
    display: flex;
    padding: 0px 32px;
    justify-content: center;
    
}
section#contatos > div#contas > div#endereço{
    display: flex;
    flex-direction: column;
}
section#contatos > div#contas > div#conosco{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    padding-top: 30px;
}
section#contatos > div#contas > div#conosco > h1{
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#contatos > div#contas > div#conosco > p{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#contatos > div#contas > div#conosco > div#redes{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
section#contatos > div#contas > div#conosco > div#redes > div#what > a > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.692);
}
section#contatos > div#contas > div#conosco > div#redes > div#insta > a > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.692);
}
section#contatos > div#contas > div#conosco > div#redes > div#face > a > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.692);
}
section#contatos > div#contas > div#conosco > div#redes a > img:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
}
section#contatos > div#contas > div#rapido{
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#contatos > div#contas > div#rapido > h1{
    width: 175px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#contatos > div#contas > div#rapido > ul{
    list-style-type: none;
    padding: 0px;
}
section#contatos > div#contas > div#rapido > ul > li{
    padding: 7px;
}
section#contatos > div#contas > div#rapido > ul > li > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
section#contatos > div#contas > div#rapido > ul > li > a:hover{
    color: var(--cor1);
}
section#contatos > div#contas > div#endereço > p{
    font-size: 18px;
    line-height: 150%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
section#contatos > div#contas > div#endereço > div#img-logo-2 > img{
    width: 140px;
    height: 140px;
}

/* footer */

footer{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px;
}
footer > p > a{
    text-decoration: none;
}
footer > p > a:hover{
    color: var(--cor7);
}

@media screen and (max-width: 608px) {
    
    header{
        padding-left: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    section#descri {
        justify-items: center;
        justify-content: center;
        margin: 0px 0px 30px 0px;
    }
    section#descri > h1{
        width: 360px;
        font-size: 33px;
    }
    section#descri > p{
        width: 345px;
    }
    section#bene > div#img-op{
        display: grid;
        gap: 50px;
        grid-template-columns: none;
    }
    section#bene > div#img-op2{
        flex-direction: column;
    }
    section#bene > div#img-op span#item1 > h2{
        line-height: 2.5rem;
    }
    section#bene span#item1{
        width: 350px;
        padding-left: 15px;
        padding-right: 15px;
    }
    span#item2{
        width: 350px;
        margin-left: 5px;
    }
    span#item3{
        width: 350px;
        margin-left: 5px;
    }
    section#func > article#prim > div.paragrafos > div.parag{
        width: 260px;
        height: 150px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 50px;
    }
    section#func > article#prim > div.paragrafos > div#check3{
        height: 190px;
    }
    section#func > article#prim > div.paragrafos > div.parag > p{
        font-size: 23px;
    }
    strong.verde{
        font-size: 23px;
    }
    section#func > article#prim > div.paragrafos > div.parag > img{
        padding: 0px;
    }
    section#func > article#segun > div.paragrafos > div.parag{
        flex-direction: column;
        align-items: center;
        width: 230px;
        height: 560px;
        gap: 0px;
        padding-bottom: 30px;
    }
    section#func > article#segun > div.paragrafos > div.parag > img{
        width: 150px;
        height: 150px;
        padding-left: 15px;
    }
    section#func > article#segun > div.paragrafos > div.parag > img#atendente{
        width: 170px;
        height: 170px;
    }
    section#func > article#segun > div.paragrafos > div.parag > h2#dois, h2#tres{
        padding-left: 15px;
    }
    section#func > article#segun > div.paragrafos > div.parag > div.parag-2 > h3{
        text-align: center;
        padding-bottom: 15px;
    }
    section#func > article#segun > div.paragrafos > div.parag > div.parag-2 > p{
        text-align: center;
    }
    section#func > article#segun > div.paragrafos > div#model{
        width: 230px;
        height: 570px;
        flex-direction: column;
        padding-bottom: 90px;
    }
    section#func > article#segun > div#modelos{
        width: 285px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section#numero-projetos > div#numeros{
        flex-direction: column;
    }
    section#numero-projetos > div#numeros > div#num-first{
        padding: 60px 23px 60px 30px;
        width: 265px;
    }
    section#curiosidade > div#curiosi > div#curio{
        width: 230px;
        height: 480px;
        padding-right: 60px;
    }
    section#curiosidade > div#curiosi > div#curio > p{
        width: 330px;
    }
    section#contatos{
        height: 550px;
        text-align: center;
    }
    section#contatos > div#contas{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    section#contatos > div#contas > div#conosco{
        align-items: center;
    }
    section#contatos > div#contas > div#endereço > p{
        font-size: 20px;
    }
    section#contatos > div#contas > div#conosco > p{
        font-size: 25px;
    }
    strong#emp{
        font-size: 40px;
    }
    section#contatos > div#contas > div#conosco{
        padding-top: 0px
    }
    section#contatos > div#contas > div#conosco > div#redes{
        gap: 30px;
    }
}

@media screen and (min-width: 609px) and (max-width: 873px){
 
    header{
        padding-left: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    section#descri {
        justify-items: center;
        margin: 0px 0px 30px 0px;
        
    }
    section#descri > h1{
        width: 585px;
        text-align: center;
    }
    section#descri > span{
        font-size: 50px;
    }
    section#bene > div#img-op{
        display: grid;
        gap: 50px;
        grid-template-columns: none;

    }
    section#bene > div#img-op2{
        flex-direction: column;
        width: 580px;
    }
    section#bene span#item1{
        width: 380px;
        height: 520px;
    }
    span#item2{
        width: 385px;
        margin-left: 84px;
    }
    span#item3{
        width: 385px;
        margin-left: 84px;
    }
    span.flex-items > h2{
        font-size: 25px;
        line-height: 32px;
    }
    span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;
        width: 450px;
        height: 475px;
    }
    section#descri > p{
        width: 510px;
        padding: 20px 10px 20px 10px;
    }

    section#func > article#segun > div.paragrafos > div.parag > h2{
        padding-top: 60px;  
    }
    section#func > article#prim > div.paragrafos > div.parag{
        width: 480px;
    }
    section#func > article#prim > div.paragrafos > div.parag > p{
        font-size: 1.5em;
    }
    section#func > article#segun{
        padding: 96px 32px 70px 17px;
    }
    section#func > article#segun > div.paragrafos > div.parag{
        width: 540px;
        height: 220px;
        padding-bottom: 45px;
        padding-right: 10px;
        padding-left: 20px;
    }
    section#func > article#segun > div.paragrafos > div.parag > img{
        padding-top: 55px;
        width: 135px;
        height: 135px;
    }
    section#func > article#segun > div.paragrafos > div.parag > img#atendente{
        padding-top: 45px;
        width: 155px;
        height: 155px; 
    }
    section#func > article#segun > div.paragrafos > div#model{
        width: 540px;
        height: 220px;
        padding-right: 0px;
    }
    section#numero-projetos > div#numeros > div.num > h2{
        font-size: 40px;
    }
    section#func > article#segun > div#modelos{
        width: 575px;
        height: 200px;
        padding-top: 20px;
    }
    section#numero-projetos > div#numeros{
        flex-direction: column;
    }
    section#numero-projetos > div#numeros > div.num{
        width: 400px;
        padding: 20px 40px 50px 40px;
        margin: auto;
    }
    section#numero-projetos > div#numeros > div#num-first > h1{
        width: 380px;
    }
    section#numero-projetos > div#numeros > div#num-first{
        padding-bottom: 80px;
    }
    section#numero-projetos{
        margin-top: 375px;
    }
    section#numero-projetos > div#numeros > div.num > p{
        font-size: 40px;
    }
    .amare{
        color: var(--cor7);
        font-size: 40px;
    }
}

@media screen and (min-width: 874px) and (max-width: 1052px){

    section#numero-projetos > div#numeros > div.num > h2{
        font-size: 40px;
    }
    section#numero-projetos > div#numeros{
        flex-direction: column;
    }
    section#numero-projetos > div#numeros > div.num{
        width: 500px;
        padding: 20px 40px 50px 40px;
        margin: auto;
    }
    section#numero-projetos > div#numeros > div#num-first{
        padding-bottom: 110px;
    }
    section#numero-projetos > div#numeros > div#num-first > h1{
        width: 475px;
    }
    section#numero-projetos{
        margin-top: 0px;
    }
    section#numero-projetos > div#numeros > div.num > p{
        font-size: 40px;
    }
    .amare{
        color: var(--cor7);
        font-size: 40px;
    }
    section#func > article#segun > div.paragrafos > div.parag{
        width: 755px;
    }
    section#func > article#segun > div.paragrafos > div#model{
        width: 755px;
    }
    section#func > article#segun > div#modelos{
        width: 810px;
    }
    section#func > article#prim > div.paragrafos > div.parag{
        width: 725px;
    }
    
}